:root {
    --cor-fonte: #222;
    --cor-fundo: #56C8EA;
    --cor-hover: #737373;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-fonte);
}

a {
    display: block;
    text-decoration: none;
}

h1 {
    text-transform: capitalize;
    line-height: 2.5rem;
    font-size: 2.25rem;
    padding-bottom: 0.75rem;
}

h2 {
    padding: 3.75rem 0 1.5rem;;
    text-align: center;
    line-height: 1.875rem;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.5625;
}

p {
    line-height: 1.5625rem;
    font-size: 1.125rem;
    hyphens: auto;
}

.introducao, 
.envoltorio-sobre,
.habilidades,
.envoltorio-qualificacoes,
.projetos,
.envoltorio-footer {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

.introducao button,
.sobre button {
    border-color: transparent;
    border-radius: 0.2rem;
    background: var(--cor-fundo);
    color: #fff;
    text-transform: uppercase;
}

.introducao button a,
.sobre button a {
    padding: 15px 47px;
    color: #222;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
}

.sobre, 
.qualificacoes,
footer {
    background-color: var(--cor-fundo);
}

/* INTRODUÇÃO */
.introducao {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.apresentacao h1 span {
    font-weight: 500;
}

.apresentacao p {
    font-weight: 300;
    padding-bottom: 2.5rem;
}

.apresentacao button {
    transition: 300ms ease-in-out;
}

.apresentacao button:hover {
    background: var(--cor-hover);
}

.foto-perfil {
    margin-left: auto;
    background-color: #56C8EA;
    border-radius: 0.2rem;
    overflow: hidden;
}

.foto-perfil img {
    max-width: 10rem;
    width: 100%;
    height: 100%;

}

@media (max-width: 680px) {

    .introducao {
        text-align: center;
        justify-content: center;
    }

    .foto-perfil {
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
}

/* SOBRE */

.sobre h2 {
    font-size: 1.8rem;
}

.envoltorio-sobre {
    padding: 3rem 20px;
}

.envoltorio-sobre p {
    text-align: justify;
    padding-bottom: 2rem;
    line-height: 37px;
}

.caixa-btns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.125rem;
}

.caixa-btns-esqueda {
    display: flex;
    gap: 1rem; 
}

.fa-linkedin,
.fa-github,
.fa-whatsapp {
    padding: 5px 0;
    font-size: 2rem;
    color: var(--cor-fonte);
    transition: 300ms ease-in-out;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-whatsapp:hover {
    color: var(--cor-hover);
}

.caixa-btns button {
    display: block;
    background: #222;
    margin: 0 auto;
    border: none;
    margin-bottom: 2rem;
}

.caixa-btns button a {
    color: #56C8EA;
}

.caixa-btns .btn-direita:hover {
    background: var(--cor-hover);
}


/* PROJETOS */
.projetos {
    padding: 2.8rem 0;
}

.projeto {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 7.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.projetos h2 {
    margin-bottom: 1.6rem;
    font-size: 1.8rem;
}

.projetos h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 0.5rem;
}

.projetos img {
    width: 100%;
    border-radius: 0.2rem;
}

.projeto p {
    line-height: 36px;
    hyphens: auto;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.projeto button {
    background: #222;
    border: none;
    padding: 8px 20px;
    border-radius: 0.2rem;
}

.projeto button a {
    color: white;
    font-size: 1rem;
    letter-spacing: 0.8px;
}


@media (max-width: 680px) {

    .projetos .projeto {
        grid-template-columns: 1fr;
        padding: 16px;
    }

    .descricao p, .descricao h3
    .descricao .btn-ver-projeto {
    margin: 0 0.5rem 1rem 0.5rem;
    }

    .projeto img {
        /* border-radius: 10px 10px 0 0px; */
    }
    
}

/* FOOTER */
.envoltorio-footer {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 50px 0;
}

.footer-esquerdo,
.footer-direito {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cor-fonte);
}

.footer-esquerdo .fa-envelope{
    font-size: 1.5rem;
}

.footer-direito .fa-phone {
    font-size: 1.25rem;
}

footer > p {
    text-align: center;
    color: #fff;
    background-color: var(--cor-fonte);
    font-size: 1.0625rem;
    line-height: 1.25rem;
    padding: 25px 0;
}

@media (max-width: 516px) {
    .envoltorio-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-esquerdo,
    .footer-direito {
        padding: 4px;
    }
    
}