:root {
    --cor-fonte: #222;
    --cor-fundo: #56C8EA;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: block;
    text-decoration: none;
}

h2 {
    padding: 3.75rem 0 1.5rem;;
    text-align: center;
    line-height: 1.875rem;
    font-size: 1.8rem;
}

p {
    line-height: 1.5625rem;
    font-size: 1.125rem;
    hyphens: auto;
}

#introducao, 
.sobre-conteudo,
#projetos {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

#introducao button,
#sobre button {
    border-color: transparent;
    border-radius: 0.2rem;
    background: var(--cor-fundo);
    color: #fff;
    text-transform: uppercase;
}

#introducao button a,
#sobre button a {
    padding: 15px 47px;
    color: #222;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
}

/* INTRODUÇÃO */
#introducao {
    display: flex;
    justify-content: space-between;
    padding-top: 15rem;
    margin-bottom: 15rem;
}

.apresentacao h1 {
    text-transform: capitalize;
    line-height: 2.5rem;
    font-size: 2.25rem;
    padding-bottom: 0.75rem;
}

.apresentacao h1 span {
    font-weight: 500;
}

.apresentacao p {
    font-weight: 300;
    padding-bottom: 2.5rem;
}

#introducao .apresentacao button {
    transition: 300ms ease-in-out;
}

#introducao .apresentacao button:hover {
    background: #7ad6f1;
}

.foto-perfil {
    background-color: #56C8EA;
    border-radius: 0.2rem;
    overflow: hidden;
}

.foto-perfil img {
    max-width: 10rem;
    height: 100%;
}

@media (max-width: 680px) {

    #introducao {
        padding-top: 8rem;
        text-align: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .foto-perfil {
        margin: 0 auto;
        margin-bottom: 25px;
    }
    
}

/* SOBRE */
#sobre {
    background-color: var(--cor-fundo);
}

.sobre-conteudo {
    padding: 3rem 20px;
}

.sobre-conteudo p {
    text-align: justify;
    padding-bottom: 2rem;
    line-height: 37px;
}

#sobre .caixa-btns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.125rem;
}

#sobre .caixa-btns button {
    display: block;
    background: #222;
    margin: 0 auto;
    border: none;
    margin-bottom: 2rem;
}

#sobre .caixa-btns button:hover {
    background: #383838;
}

#sobre .caixa-btns button a {
    color: #56C8EA;
}


/* PROJETOS */
#projetos {
    padding: 2.8rem 0;
}

.projeto {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 8px;
    margin-bottom: 7.25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

#projetos h2 {
    margin-bottom: 1.6rem;
}

#projetos h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 0.5rem;
}

#projetos img {
    width: 100%;
    border-radius: 0.2rem;
}

.projeto p {
    line-height: 36px;
    hyphens: auto;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.projeto button {
    background: #222;
    border: none;
    padding: 8px 20px;
    border-radius: 0.2rem;
}

.projeto button:hover {
    background: #383838;
}

.projeto button a {
    color: white;
    font-size: 1rem;
    letter-spacing: 0.8px;
}

@media (max-width: 930px) {

    #projetos .projeto {
        grid-template-columns: 1fr;
        padding: 16px;
    }

    
    #projetos h3 {
        text-align: center;
    }

    #projetos button {
        display: block;
        margin: 0 auto;
    }

}


/* FOOTER */

.footer-contato {
    text-align: center;
    color: #fff;
    background-color: var(--cor-fonte);
    font-size: 1.0625rem;
    line-height: 1.25rem;
    padding: 6rem 0;
}

.footer-contato p {
    padding: 0.5rem 0;
    color: #808080;
}

.footer-contato i {
    font-size: 1.6rem;
    cursor: pointer;
}

.footer-contato .linkedin {
    margin: 0 3rem;
}

.fa-linkedin-in:hover {
    background-color: re;
}

.footer-contato .fa-angle-up {
    font-size: 1.3rem;
    color: #fff;
    
    
}

.footer-contato a {
    margin: 0 auto 3.5rem;
    max-width: 5px;
}

.displayInline {
    display: inline;
    color: #fff;
}

.footer-contato hr {
    max-width: 250px;
    margin: 2.5rem auto 0.5rem;
    border-color: #808080;
}