:root {
    --cor-fonte: #140A08;
    --cor-fundo: #56C8EA;
    --cor-hover: #737373;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-fonte);
}

a {
    display: block;
    text-decoration: none;
}

h1 {
    text-transform: capitalize;
    line-height: 2.5rem;
    font-size: 2.25rem;
    padding-bottom: 0.75rem;
}

h2 {
    padding: 3.75rem 0 1.5rem;;
    text-align: center;
    line-height: 1.875rem;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.125rem;
    line-height: 1.5625;
}

p {
    line-height: 1.5625rem;
    font-size: 1.125rem;
}

.introducao, 
.envoltorio-sobre,
.habilidades,
.carousel-certificacoes,
.projetos,
.envoltorio-footer {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

.introducao button,
.sobre button {
    border-color: transparent;
    border-radius: 2.5rem;
    background: var(--cor-fundo);
    color: #fff;
    text-transform: uppercase;
}

.introducao button a,
.sobre button a {
    padding: 10px 33.83px;
    color: #fff;
}

.sobre, 
.qualificacoes,
footer {
    background-color: var(--cor-fundo);
}

/* INTRODUÇÃO */
.introducao {
    display: flex;
    flex-wrap: wrap-reverse; 
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
}

.apresentacao h1 span {
    font-weight: 500;
}

.apresentacao p {
    font-weight: 300;
    padding-bottom: 2.5rem;
}

.apresentacao button {
    transition: 300ms ease-in-out;
}

.apresentacao button:hover {
    background: var(--cor-hover);
}

.foto-perfil {
    margin-left: auto;
}

.foto-perfil img {
    width: 10rem;
}


/* SOBRE */
.envoltorio-sobre p {
    text-align: justify;
    padding-bottom: 1rem;
}

.caixa-btns {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.125rem;
}

.caixa-btns-esqueda {
    display: flex;
    gap: 1rem; 
}

.fa-linkedin,
.fa-github,
.fa-whatsapp {
    padding: 5px 0;
    font-size: 2rem;
    color: var(--cor-fonte);
    transition: 300ms ease-in-out;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-whatsapp:hover {
    color: var(--cor-hover);
}

.caixa-btns .btn-direita {
    background: var(--cor-fonte);
    transition: 300ms ease-in-out;
}

.caixa-btns .btn-direita:hover {
    background: var(--cor-hover);
}


/* habilidades */
.habilidades .caixa-icones {
    padding: 0 0 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.habilidades p {
    text-align: center;
    margin-bottom: 4.0625rem;
}

.habilidades p a {
    display: inline;
    color: var(--cor-fonte);
    transition: 300ms ease-in-out;
}

.habilidades .fa-circle-chevron-down {
    font-size: 1rem;
}

.habilidades p a:hover {
    color: var(--cor-hover);
}

.caixa-icones img {
    width: 100px;
    padding: 3.5px 0;
}

/* QUALIFICAÇÕES */
.qualificacoes {
    padding-bottom: 5.4375rem;
}

.carousel-certificacoes {
    position: relative;
}

.carousel-certificacoes .anterior,
.carousel-certificacoes .proximo {
    position: absolute;
    top: 22%;
    font-size: 1.5rem;
    line-height: 1.5625;
    background: transparent;
    border: none;
}

.carousel-certificacoes .proximo {
    right: 0;
    margin-right: 1.25rem;
}

.envoltorio-certificacoes {
    display: flex;
    justify-content: space-between;
    padding: 0 3.625rem;
    overflow-x: auto;
}

.certificacao {
    flex-shrink: 0;
    padding-bottom: 1.5rem;
}

.certificacao p {
    padding-bottom: 20px;
    font-size: 1.0625rem;
}

.certificacao a {
    display: inline;
    color: var(--cor-fonte);
    font-size: 0.875;
    line-height: 1.25rem;
    transition: 300ms ease-in-out;
}

.certificacao a:hover {
    color: var(--cor-hover);
}

@media (max-width: 940px) {

    .certificacao + .certificacao {
        margin-left: 38px;
    }
    
}

/* PROJETOS */
.carousel-projetos {
    position: relative;
}

.carousel-projetos .anterior,
.carousel-projetos .proximo {
    position: absolute;
    top: 36%;
    font-size: 1.5rem;
    line-height: 1.5625;
    background: transparent;
    border: none;
}

.carousel-projetos .proximo {
    right: 0;
}

.envoltorio-projetos {
    margin-bottom: 7.25rem;
}

.projeto {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.projeto img {
    border-radius: 10px 0 0 10px;
    /* box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25); */
}

.descricao h3 {
    margin: 1rem 0 0.5rem 1.5rem;
}

.descricao p {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.descricao p,
.descricao .btn-ver-projeto {
    margin: 0 1.5rem 1rem 1.5rem;
}

.descricao .btn-ver-projeto {
    border-color: transparent;
    border-radius: 2.5rem;
    background: var(--cor-fonte);
    padding: 2px 42px;
    text-transform: uppercase;
    line-height: 1.25rem;
    transition: 300ms ease-in-out;
}

.descricao .btn-ver-projeto:hover {
    background: var(--cor-hover);
    cursor: pointer;
}

.descricao .btn-ver-projeto a {
    color: #fff;
}

@media (max-width: 680px) {

    .projetos .projeto {
        flex-direction: column;
    }

    .projeto img {
        border-radius: 10px 10px 0 0px;
    }
    
}

/* FOOTER */
footer {

}

.envoltorio-footer {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding: 8px 0;
}

.footer-esquerdo,
.footer-direito {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cor-fonte);
}

.footer-esquerdo .fa-envelope{
    font-size: 1.5rem;
}

.footer-direito .fa-phone {
    font-size: 1.25rem;
}

footer > p {
    text-align: center;
    color: #fff;
    background-color: var(--cor-fonte);
    font-size: 1.0625rem;
    line-height: 1.25rem;
    padding: 0.4375rem 0;
}

@media (max-width: 516px) {
    .envoltorio-footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-esquerdo,
    .footer-direito {
        padding: 4px;
    }
    
}